@model FXV.ViewModels.LoginInfo
@{
    Layout = "_Login";
}

@Html.Partial("_Loading")
<div class="container">
    <div class="row">
        @foreach (FXV.ViewModels.LoginInfo user in ViewBag.UserInfo)
        {
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                <form class="w-100 show bg-transparent form-group" asp-action="Login">
                    <div class="form-group text-white">
                        <h1>
                            Welcome Back
                        </h1>
                        <h5>
                            @user.FirstName
                        </h5>
                        <input asp-for="Id" hidden value="@user.Id">
                        <input asp-for="Account" hidden value="@user.Account">
                    </div>
                    <span class="text-danger">@TempData["ErrorMsg"]</span>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-white"></label>
                        <div class="w-100">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <ion-icon name="key"></ion-icon>
                                    </div>
                                </div>
                                <input asp-for="Password" class="form-control pl-2" placeholder="Your Password" />
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <a asp-action="ResetPwd" class="text-FXV" style="cursor:pointer">Forgot password?</a>
                    <button id="submit" type="submit" class="btn btn-warning-customized float-right">Log in</button>
                </form>
            </div>
        }
    </div>
</div>

@Html.Partial("_AccountLoadingScript")